/*
backgrounds: cce0ff 99c2ff #ceff
fore: #003380 001a4d 4d88ff

*/
.body {
  background-color: #e6faff;
}

h2 {
  color: blue;
}

p {
  color: black;
}

a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active {
  background-color: #ccebff;
  text-decoration: none;
}

#intro {
  font-family: "Concert One", sans-serif;
  color: #001a4d;
  font-size: 30px;
}

.intro {
  background: #ccebff;
}

.hl-1 {
  
}

.hl-cta {
  font-size: 12px;
}

.hl-container {
  color: white;
  border-style: block;
  border-color: white;
  border-radius: 20px;
}

.hlc-1 {
  color: #4d4dff;
  background-color: #ceff;
}

.hlc-2 {
  color: darkblue;
}

.hlc-3 {
/*  background-color: #1ad1ff; */
  color: darkblue;
  background-color: #66d9ff;
}

#img-hl-3 {
  border-radius: 15%;
}

.get-to-know-us {
  color: #000099;
}

/*  Special Styles*/

/* About us*/

.logo {
  width: 20%;
  height: 20%;
}

.the-team {
  background-color: #ccebff;
}
.team-photo {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.slide-indicators {
  color: black;
}
.slide-icons {
  color: red;
}
