/* Fonts */
html, body {font-family:"Verdana",sans-serif
}

h2, h3 {
  color: darkblue;
}

/*
h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",sans-serif
} */


h1, h3, h4, p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-family: "Concert One", sans-serif;
}

/* Sail is a cursive font - bold */

/*
span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
} */

body {
  /*text-align: center; */
  font-size: 16;
  margin: 0px;
}

a {
  text-decoration: none;
}

#welc_img, .photo-about {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
  border-style: solid;
  border-width: 2px;
}
}*/

.f_container {
  width: 70%;
  margin: auto;
}

.c-input {
  height: 30px;
  font-size: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-style: block;
  border-radius: 20px 20px 20px 20px;
}

/* 
General Button Style
*/
.c-button {
  text-align: center;
  padding: 10px;
  margin: auto;
  border-style: block;
  border-width: 5px;
  border-color: red;
  border-radius: 15px;
  background-color: green;
  color: white;
  text-decoration: none;
}

/*  Custom button decorations */

.btn-about, .btn-services, .btn-message {
  padding: 10px;
  margin: 5px;
}
.btn-smp {
  width: 65%;
}

/*
a.btn:link, a.btn:visited {
  text-decoration: none;
}

a.btn:hover, a:active {
 text-decoration: underline;
}
*/

footer {
  background-color: midnightblue;
  color: silver;
  text-align: left;
  padding: 15px;
}

#footer-hd {
  color: white;
  text-decoration: none;
}
/*
#footer-ql, #footer-hd {
  text-align: left;
}

*/

.home-bg {
  background-image: url("assets/images/fb_naa_2.jpg.jpg");
  background-size: cover;
  background-position: center;
}

.nav-c {
  font-size: 20px;
}

.logo {
  height: 40px;
  width: 40px;
}

div {
  margin: 0px;
}

#about {
  text-align: center;
  color: green;
  font-size: 20px;
}

.profile {
  margin: 0px;
}

.about-nav {
  margin: -5px;
}